* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 1000px) {
    .desktopView {
        display: none !important;
    }
}

@media (min-width: 1000px) {
    .mobileView {
        display: none !important;
    }
}