#body {
    background-color: white;
    opacity: 1;
    width: 400px;
    height: 350px;
    border: 1px solid grey;
    border-radius: 25px;
    position: absolute;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#title {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

#titleInfo {
    display: flex;
}

#arbitrumIcon {
    width: 36px;
    height: 36px;
}

#titleText {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#closeArbitrumIframe {
    cursor: pointer;
}

#message {
    width: 80%;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.button:hover {
    background: radial-gradient(285% 8200% at 30% 50%, rgba(40, 160, 240, 0.1) 0%, rgba(219, 255, 0, 0) 100%), radial-gradient(circle at left top, rgba(159, 196, 223, 0.01), rgba(31, 114, 229, 0.12)), rgba(255, 255, 255, 0.1); 
}

#arbitrumBridgeLink {
    text-decoration: none;
    color: black;
}

#depositFunds {
    margin-left: 20px;
}

#depositFundsArrow {
    display: flex;
    align-items: flex-start;
}

#learnMore {
    // margin-left: 5%;
    text-align: center;
    padding-top: 20px;
}

#learnMoreLink:hover {
    text-decoration: underline;
}

