* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Quicksand';
  src: url("/textFonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-display: auto;
}

