#nav {
    position: relative;
    background-color: rgba(229,229,229, 1);
}

#navMobile {
    position: relative;
    background-color: rgba(229,229,229, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    min-height: 60px;
    padding-left: 20px;
}

#navElements {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:stretch;
    height: 60px;
    border-bottom: 1px solid white;
}

.navElement {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px 0;
    margin: 0 20px 0;
    cursor: pointer;
    white-space: nowrap;
}

.navElement:hover {
    color: grey;
}

.navElementSurline {
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0%;
    opacity: 0;
    background-color: grey;
    border-radius: 5px;
    transition: 0.5s;
}

.active  {
    width: 80%;
    opacity: 1;
    background-color: rgb(255, 208, 0);
}

.navElement:hover {
    .navElementSurline {
        width: 80%;
        opacity: 1;
    }

    .active {
        width: 90%;
    }
}

#navLeftSide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;

    a {
        text-decoration: none;
        color: #2e2e2e;
    }
}

#navRigthSide { 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#arbitrumNavElement {
    padding: 8px 0 8px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#arbitrumIcon {
    height: 100%;
}

#gasPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 20px;
    padding: 0 15px 0;
    margin-left: 20px;
    background-color: white;
    border-radius: 3px;

    svg {
        height: 30px;
        margin-right: 15px;
    }
}

#addressDiv {
    margin-left: 10px;
    height: 80%;
    background-color: #d3d3d4;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    padding: 0 5px 0;
}

#connectWallet {
    display: flex;
    cursor: pointer;
    height: 80%;
    flex-direction: row;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px 0;
    margin: 0 20px 0;
    white-space: nowrap;
}

.connectWalletWhite {
    background-color: white;
}

.connectWalletWrongNetwork {
    color: white;
    background-color: rgba(218, 45, 43, 1);
}

#wrongNetworkMessage {
    margin-left: 10px;
}

#bellIcon {
    margin-right: 20px;
    width: 30px;
    min-width: 30px;
    fill: rgb(90, 90, 90);
    cursor: pointer;
}

#notificationsPanel {
    position: absolute;
    z-index: 2;
    right: 50px;
    top: 62px;
    height: 450px;
    width: 350px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #d3d3d4;
    transform: translateY(calc(-100% - 70px));
    transition: 0.75s;
}

#menuIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    width: 25px;
    min-width: 25px;
    height: 22px;
    cursor: pointer;

    div {
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background-color: rgb(90, 90, 90);
    }
}